:root {
    --background: #0d0d0d;
    --background-2: #131313;
    --text: #fcf5e5;
    --text-hover: #ffedc2;

    --border-radius-lg: 20px;

    --background-rgb: 13, 13, 13;
    --background-2-rgb: 19, 19, 19;
    --text-rgb: 252, 245, 229;
    --text-hover-rgb: 255, 237, 194;
    --border-rgb: 255, 255, 255;
}

@font-face {
    font-family: Satoshi;
    src: url("../fonts/Satoshi-Bold.ttf");
}

@font-face {
    font-family: Synonym;
    src: url("../fonts/Synonym-Regular.ttf");
}

::selection {
    background-color: rgb(var(--text-rgb), 0.25);
}

html,
body {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Satoshi;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 32pt;
}

body {
    font-family: Synonym;
    color: var(--text);

    background: var(--background);

    margin: 0;
}

a {
    color: inherit;
    text-decoration: underline 0.05rem rgb(var(--text-rgb), 0.25);
    transition: all 175ms;
}

a:hover {
    color: var(--text-hover);
    text-decoration-color: rgb(var(--text-hover-rgb), 1);
}

a.no-underline {
    text-decoration-color: transparent;
}

button {
    cursor: pointer;

    background: var(--background-2);

    font-family: Satoshi;
    color: var(--text);
    text-transform: uppercase;

    padding: 1rem;

    border-radius: var(--border-radius-lg);
    border: none;

    transition: all 150ms ease-in-out;
}

button:hover {
    background: rgba(var(--background-2-rgb), 0.5);
    color: var(--text-hover);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main > .container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}

@media (max-width: 800px) {
    main > .container {
        grid-template-columns: 1fr;
    }
}

.spacer {
    height: 1.25rem;
}

.spacer-2xl {
    height: 4rem;
}

.active a {
    color: var(--text-hover);
    font-weight: bold;
}

.info-col {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.card {
    background: var(--background-2);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
}

.card .card-header {
    background: rgba(var(--background-rgb), 0.3);
    padding: 1rem;
    padding-left: 1rem;
}

.card .card-footer {
    background: rgba(var(--background-rgb), 0.3);
    padding: 1rem;
    padding-left: 1rem;
}

.card .card-body {
    padding: 1rem;
    font-size: 13.5pt;
}

#about .skills {
    display: flex;
    justify-content: space-evenly;
}

#about .fun {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 1.25rem;
}

.card > .card-footer {
    padding-left: 1rem;

    border-top: rgba(var(--border-rgb), 0.25);
}

.card-spotify > .card-body {
    display: flex;
    gap: 1rem;
}

.card-spotify > .card-body > img {
    border-radius: var(--border-radius-lg);
    pointer-events: none;

    object-fit: cover;
    width: 150px;
    aspect-ratio: 1/1;
}

.card-spotify > .card-body > .card-spotify-info {
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-spotify > .card-body > .card-spotify-info > p {
    margin: 0;
    font-size: 11pt;
}

@media (max-width: 800px) {
    #about .fun {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .card-spotify > .card-body {
        flex-direction: column;
    }

    .card-spotify > .card-body > img {
        width: 100%;
    }
}

@media (max-width: 430px) {
    #about .skills {
        flex-direction: column;
        justify-content: flex-start;
    }
}
