.wrapper {
    min-height: 100vh;
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .wrapper {
        position: relative;
    }
}

.card > img {
    border-radius: var(--border-radius-lg);
    pointer-events: none;
}

.card > h1,
.card > p {
    margin: 0;
}

.card > .links {
    display: flex;
    justify-content: space-between;
}

.card .page-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card > ul {
    margin: 0;
    padding: 0;
}

.card > ul > li {
    list-style-type: none;
}

.card > ul > li > a {
    text-decoration-color: transparent;
}
